<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

<form action="home-page-customer" method="POST">
    <input type="submit" value="Browse App">
</form>



<div class="form-style-5">

    <h2>LOG IN EMPLOYEE</h2>

    <form action="CheckLoginEmployee" method="POST">
        Username: <input type="text" name="username" required>
        Password: <input type="text" name="password" required>

        <input type="submit" value="Login">



                <p th:if="${loginErrorMsgEmp} != null" th:text="${loginErrorMsgEmp}"style="color: #ff0000;"></p>

    </form>

    <h2>LOG IN CUSTOMER</h2>

    <form action="CheckLoginCustomer" method="POST">
        Username: <input type="text" name="username" required>
        Password: <input type="text" name="password" required>

        <input type="submit" value="Login">
        <p th:if="${loginErrorMsgCust} != null" th:text="${loginErrorMsgCust}"style="color: #ff0000;"></p>
    </form>


    <h2>REGISTRATION CUSTOMER</h2>

    <form action="Registration" method="POST">
        Email: <input type="email"  name="email" required>
        Username: <input type="text" name="username" required>
        Password: <input type="text" name="password" required>
        <input type="submit" value="Login">
    </form>
    <p th:if="${!userNotAlreadyExists}" th:text="${userAlreadyExistsMessage}"style="color: #ff0000;"></p>
    <p th:if="${userNotAlreadyExists}" th:text=" ${registrationMsg}"></p>

</div>


</body>
</html>