<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a service to buy</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

<div>
<p> Service package chosen: </p>
<span th:if="${servicePackageChosenCTX != null}" th:text="${servicePackageChosenCTX.packageName}">
<span th:if="${servicePackageChosenCTX.packageFees != 0}" th:text="'This service package has fixed internet'"> </span>
    </span>
</div>



<div class="form-style-5">
    <form method="POST" action="period-selected">
        <label for="validityPeriod">Choose a validity period:</label>
        <select th:if= "${servicePackageChosenCTX != null}" name="validityPeriod" id="validityPeriod">
            <option  th:if="${servicePackageChosenCTX != null}" th:each="vp : ${servicePackageChosenCTX.packageFees}" th:value="12"
                     th:text="${servicePackageChosenCTX.packageFees.twelveMonthPrice} + ' euro/month for ' + ' 12 months'"></option>
            <option  th:if="${servicePackageChosenCTX != null}" th:each="vp : ${servicePackageChosenCTX.packageFees}" th:value="24"
                     th:text="${servicePackageChosenCTX.packageFees.twentyFourMonthPrice} + ' euro/month for ' + ' 24 months'"></option>
            <option  th:if="${servicePackageChosenCTX != null}" th:each="vp : ${servicePackageChosenCTX.packageFees}" th:value="36"
                     th:text="${servicePackageChosenCTX.packageFees.thirtySixMonthPrice} + ' euro/month for ' + ' 36 months'"></option>
        </select>

        <label>Choose an optional product:</label>
            <label>
                <input type="checkbox" name="optionalProducts" th:each="op : ${optionalProductsObjects}" th:value="${op.name}" th:text="${op.name}">
            </label>



        <input type="submit" value="Confirm" name="OnAdditionalInfoSubmit">
    </form>
</div>








</body>
</html>