<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirm selection </title>

    <form method="POST" action="create-order">
        <input type="submit" name="CreateOrder"/>
    </form>
</head>
<body>
<h1> Are you sure about that service?
    <td th:text="${servicePackageChosenCTX.packageName }"></td>
    validity period chosen
    <td th:text="${chosenValidityPeriod}"></td>
    <td th:text="${Order.validityPeriodMonth}"></td>


</h1>

<title>Submit Button Redirect</title>




</body>
</html>