<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirm selection </title>
</head>
<body>

<h1> Are you sure about that service?</h1>
<form method="POST" action="payment">
<td>

    <span th:if="${chosenValidityPeriod != null}" th:text="'Validity Period Chosen: '+ ${chosenValidityPeriod}"> </span>
    <p>&nbsp;</p>
    <span th:if="${servicePackageChosenCTX != null}" th:text="'Service Package Chosen: '+${servicePackageChosenCTX.packageName}"> </span>
    <p>&nbsp;</p>
    <span th:if="${optionalProductsCTX.isEmpty()}"  th:text="'No optional products chosen'"> </span>
    <span th:if="${!optionalProductsCTX.isEmpty()}"  th:text="'Optional products chosen:'"> </span>
    <span th:if="${optionalProductsCTX != null}"  th:each="op : ${optionalProductsCTX}" th:text="${op.name}"></span>
    <p>&nbsp;</p>
    <span th:text="'Total Cost:' + ${totalCost}"> </span>
</td>

<span th:if="${loggedCustomer !=null}" th:text="${loggedCustomer.username}">
    </span>
<div th:if="${loggedCustomer != null}" >
    <div class="form-style-4">
        <form method="POST" action="payment">
        <label class="switch">
            Make payment fail
            <input type="checkbox" th:name="makePaymentFail" th:value="${true}" >
            <span class="slider round" ></span>
        </label>
        </form>
    </div>
    <input type="submit" value="BUY SERVICE">
</div>
    <div th:if="${loggedCustomer == null}">
                <a href="Registration" class="link">
		  <span class="mask">
		    <div class="link-container">
		      <span class="link-title1 title">Go to LOGIN to Buy package!!</span>
		    </div>
		  </span>
                </a>
    </div>


</form>

<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
    <td th:text="${loggedCustomer.username}"></td>
</div>



</body>
</html>