<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Choose a service to buy</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>


<h1> Buy a service </h1>



<div class="form-style-5">
    <form method="POST" action="package-selected">
        <label for="servicePackagess">Choose a service package:</label>
            <select id="servicePackagess" name="servicePackageName">
                <option th:each="sp : ${packageList}" th:value="${sp.packageName }" th:text="${sp.packageName}">
                </option>
            </select>
        <input type="submit" name="OnServicePackageSelection">
    </form>
</div>



<td th:text="${servicePackageChosenCTX.packageName}"></td>
<td>
    <span th:if="${servicePackageChosenCTX.fixedPhoneNumber != null}" th:text="${servicePackageChosenCTX.fixedPhoneNumber}"> </span>
    <span th:unless="${servicePackageChosenCTX.fixedPhoneNumber != null}">

            </span>
</td>





</body>
</html>


