
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
<td th:text="${loggedCustomer.username}"></td>
</div>
<th>Available Service Packages</th>
<table  class="styled-table">
    <tr>
        <th>Service Package</th>
        <th>Fixed phone</th>
        <th>12 month price</th>
        <th>24 month price</th>
        <th>36 month price</th>
    </tr>
    <tbody>
    <tr th:each="sp : ${packageList}">
        <td th:text="${sp.packageName}"></td>

        <td>
            <span th:if="${sp.fixedPhoneNumber == 1 }" th:text="'Fixed phone number is activated'"> </span>
            <span th:unless="${sp.fixedPhoneNumber != null}">  </span>
        </td>




        <td>
            <ul th:if="${sp.packageFees != null}" th:each="vp : ${sp.packageFees}">
                <li th:text="${sp.packageFees.twelveMonthPrice } + ' euro/month for ' + ${sp.packageFees.twelveMonthPrice} + ' months'"></li>
            </ul>
        </td>
        <td>
            <ul th:if="${sp.packageFees != null}" th:each="vp : ${sp.packageFees}">
                <li th:text="${sp.packageFees.twentyFourMonthPrice } + ' euro/month for ' + ${sp.packageFees.twentyFourMonthPrice} + ' months'"></li>
            </ul>
        </td>
        <td>
            <ul th:if="${sp.packageFees != null}" th:each="vp : ${sp.packageFees}">
                <li th:text="${sp.packageFees.thirtySixMonthPrice } + ' euro/month for ' + ${sp.packageFees.thirtySixMonthPrice} + ' months'"></li>
            </ul>
        </td>
    </tr>
    </tbody>



</table>

<div class="form-style-4">
</div>
</body>

    <div class="form-style-4">
        <form method="POST" action="buy-service">
            <input type="submit" value="BUY SERVICE">
        </form>
    </div>



</html>