
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>HOME PAGE EMPLOYEE</h1>
<!--<table  class="styled-table">-->
<!--    <tr>-->
<!--        <th>Service Package</th>-->
<!--        <th>Fixed phone</th>-->
<!--    </tr>-->
<!--    <tbody>-->
<!--    <tr th:each="sp : ${packageList}">-->
<!--        <td th:text="${sp.packageName }"></td>-->

<!--        <td>-->
<!--            <span th:if="${sp.fixedPhoneNumber != null}" th:text="${sp.fixedPhoneNumber}"> </span>-->
<!--            <span th:unless="${sp.fixedPhoneNumber != null}">  </span>-->
<!--        </td>-->

<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>


</html>