
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
<td th:text="${loggedCustomer.username}"></td>
</div>
<th>Available Service Packages</th>
<table  class="styled-table">
    <tr>
        <th>Service Package</th>
        <th>Fixed phone</th>
        <th>12 month price</th>
        <th>24 month price</th>
        <th>36 month price</th>
    </tr>
    <tbody>
    <tr th:each="sp : ${packageList}">
        <td th:text="${sp.packageName}"></td>

        <td>
            <span th:if="${sp.fixedPhoneNumber == 1 }" th:text="'Fixed phone number is activated'"> </span>
            <span th:if="${sp.fixedPhoneNumber == 0 }" th:text="'Fixed phone number is not activated'"> </span>
            <span th:unless="${sp.fixedPhoneNumber != null}">  </span>
        </td>




        <td>
            <ul th:if="${sp.packageFees != null}" th:each="vp : ${sp.packageFees}">
                <li th:text="${sp.packageFees.twelveMonthPrice } + ' euro/month for ' + ${sp.packageFees.twelveMonthPrice} + ' months'"></li>
            </ul>
        </td>
        <td>
            <ul th:if="${sp.packageFees != null}" th:each="vp : ${sp.packageFees}">
                <li th:text="${sp.packageFees.twentyFourMonthPrice } + ' euro/month for ' + ${sp.packageFees.twentyFourMonthPrice} + ' months'"></li>
            </ul>
        </td>
        <td>
            <ul th:if="${sp.packageFees != null}" th:each="vp : ${sp.packageFees}">
                <li th:text="${sp.packageFees.thirtySixMonthPrice } + ' euro/month for ' + ${sp.packageFees.thirtySixMonthPrice} + ' months'"></li>
            </ul>
        </td>
    </tr>
    </tbody>




</table>

<div class="form-style-4">
</div>
<div class="form-style-4">
    <form method="POST" action="buy-service">
        <input type="submit" value="BUY SERVICE">
    </form>
</div>


<table  class="styled-table">
    <tr>
        <th>Rejected Order</th>
        <th>Date of order</th>
        <th>Price to pay</th>
        <th>Service Package</th>
        <th>Validity periods</th>
    </tr>
    <tbody>
    <tr th:each="rj : ${rejectedOrders}">
        <td th:text="${rj.getOrderId()}"></td>

        <td>
            <span th:if="${rj.getOrderDateTime() != null}" th:text="${rj.getOrderDateTime().getDayOfMonth()}+${rj.getOrderDateTime().getMonth()}+${rj.getOrderDateTime().getYear()}"> </span>
            <span th:unless="${rj.getOrderDateTime() != null}">  </span>
        </td>

        <td>
            <span th:if="${rj.getTotalCost()!= null}" th:text="${rj.getTotalCost()}"> </span>
            <span th:unless="${rj.getTotalCost() != null}">  </span>
        </td>

        <td>
            <span th:if="${rj.getOrderedService()!= null}" th:text="${rj.getOrderedService().packageName}"> </span>
            <span th:unless="${rj.getOrderedService() != null}">  </span>
        </td>
        <td>
            <span th:if="${rj.getValidityPeriodMonth()!= null}" th:text="${rj.getValidityPeriodMonth()}"> </span>
            <span th:unless="${rj.getValidityPeriodMonth() != null}">  </span>
        </td>

        <td>
            <form method="POST" action="additional-info-selected">
            <input type="submit" th:name="orderIdForRejectedPayment" th:value="${rj.orderId}" >
            </form>
        </td>

    </tr>
    </tbody>

</table>




</body>





</html>