<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title></title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<br>
<div style="float: right" th:if="${loggedCustomer != null}" th:text="${loggedCustomer.getUsername()}"></div>


<span >Calling external service....</span>



<span> External Service Called! </span>
<div>

    <span th:if="${order}" th:text= "'total cost:' + ${order.totalCost}"></span>
    <span th:if="${successfulPayment}" th:text= "${'Payment successful'}"></span>
    <span th:unless="${successfulPayment}" th:text= "${'Payment rejected, try later'}">  </span>
</div>



<div>
    <a href="home-page-customer" class="link">
		  <span class="mask">
		    <div class="link-container">
		      <span class="link-title1 title">CONTINUE SHOPPING</span>
		    </div>
		  </span>
        <div class="link-icon">
        </div>
    </a>
</div>


</body>
</html>